
.vs/Evolent/v15/Server/sqlite3/db.lock
.vs/config/applicationhost.config
.vs/Evolent/v15/Server/sqlite3/storage.ide
.vs/Evolent/v15/Server/sqlite3/storage.ide-shm
.vs/Evolent/v15/Server/sqlite3/storage.ide-wal
